@charset "utf-8";
/* CSS Document */

body {
    background: #1f2739;
    color: #fff;
    font-family: "Arial";
    font-size: 10px;
}
img {
    border: 0;
    padding: 0;
    margin: 0;
}

#main-container {
    padding: 20px;
}

.propuestas-container {
    min-height: 200px;
    margin-top: 20px;
}

.left-column {
    width: 260px;
    float: left;
}

.right-column {
    margin-left: 88px;
    padding: 10px;
	padding-left: 190px;
}

.header1 {
    padding: 15px;
}

.content {
    background: #2c3446;
}
.content.description {
    color: #9d99a7;
    height: 85px;
    margin-top: 15px;
}
.content.text {
    color: #9d99a7;
}
.content.blue {
    color: #4dc3fa;
}
.content.yellow {
    color: #fff842;
}
.content.green {
    color: #7ffc62;
}
a {
    text-decoration: none;
    color: #9d99a7;
}
.bottom {
    margin-top: 15px;
}
