	.tooltip.bottom .tooltip-inner 
	{
		background-color:white;
		color: #111111;
	}

	.tooltip.bottom .tooltip-arrow 
	{
      border-bottom-color: white;
	}
	
	.tooltip.top .tooltip-inner 
	{
		background-color:white;
		color: #111111;
	}

	.tooltip.top .tooltip-arrow 
	{
      border-top-color: white;
	}
	
	.tooltip.right .tooltip-inner 
	{
		background-color:white;
		color: #111111;
	}

	.tooltip.right .tooltip-arrow 
	{
      border-right-color: white;
	}
	
	.tooltip.left .tooltip-inner 
	{
		background-color:white;
		color: #111111;
	}

	.tooltip.left .tooltip-arrow 
	{
      border-left-color: white;
	}